<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Show contact</title>
</head>
<body>

<a href="/">Show All Contacts</a><br />
First Name :<span th:text="${contact.nameFirst}" ></span><br />
Last Name :<span th:text="${contact.nameLast}" ></span><br />
Email :<p th:text="${contact.email}" ></p>
Phone Number :<span th:text="${contact.phoneNum}" ></span><br />
<a th:href="@{/delete/{id}(id=${contact.id})}">Delete this contact</a>
</body>
</html>